/*
 :::  Grid
-------------------------------------------------- */

/* --	Grid - Standard		--------------------- */
.grid						{width:100%; min-width:768px; max-width:1360px; margin:0 auto; overflow:hidden; clear:both;}
.grid .row					{display:block; width:100%; margin:0 auto; clear:both;}
.grid .block				{display:inline-block; float:left; margin:0 auto; padding:10px;}

/* --	Grid - Full Width	--------------------- */
.grid.full					{max-width:none;}
.grid.full .row				{max-width:1360px;}
.grid.full .row.full		{max-width:none; text-align:center; font-size:0;}
.grid.full .row.full .block	{float:none; text-align:left;}

/* --	Grid - Nested		--------------------- */
.grid .block .grid			{min-width:none; max-width:none;}
.grid .block .grid .row		{}
.grid .block .block,
.grid .block .grid .block	{padding:0;}

/* --	Grid - Table 		--------------------- */
.grid.table .block			{display:table;}
.grid.table .block .wrap	{display:table-cell; vertical-align:middle;}


/* --	Blocks - Widths		--------------------- */
.grid .block.one			{max-width:  85px; width:  6.25%;}
.grid .block.two			{max-width: 170px; width: 12.50%;}
.grid .block.three			{max-width: 255px; width: 18.75%;}
.grid .block.four			{max-width: 340px; width: 25.00%;}
.grid .block.five			{max-width: 425px; width: 31.25%;}
.grid .block.six			{max-width: 510px; width: 37.50%;}
.grid .block.seven			{max-width: 595px; width: 43.75%;}
.grid .block.eight			{max-width: 680px; width: 50.00%;}
.grid .block.nine			{max-width: 765px; width: 56.25%;}
.grid .block.ten			{max-width: 850px; width: 62.50%;}
.grid .block.eleven			{max-width: 935ox; width: 68.75%;}
.grid .block.twelve			{max-width:1020px; width: 75.00%;}
.grid .block.thirteen		{max-width:1105px; width: 81.25%;}
.grid .block.fourteen		{max-width:1190px; width: 87.50%;}
.grid .block.fifteen		{max-width:1275px; width: 93.75%;}
.grid .block.sixteen		{max-width:1360px; width:100.00%;}

.grid .block.full			{max-width:1360px; width:100.00%;}
.grid .block.half			{max-width: 680px; width: 50.00%;}
.grid .block.third			{max-width: 454px; width: 33.333333%;}
.grid .block.fourth			{max-width: 340px; width: 25.00%;}
.grid .block.fifth			{max-width: 272px; width: 20.00%;}

.grid .block.fluid			{width:auto!important;}

@media only screen and (max-width: 768px) {
.grid						{min-width:300px; max-width:768px;}
.grid .block				{padding:5px;}
.grid .block .grid .block	{padding:0;}

/* --	Blocks - Widths		--------------------- */
.grid .block.one			{max-width:none; width: 50%;}
.grid .block.two			{max-width:none; width: 50%;}
.grid .block.three			{max-width:none; width: 50%;}
.grid .block.four			{max-width:none; width: 50%;}
.grid .block.five			{max-width:none; width: 50%;}
.grid .block.six			{max-width:none; width: 50%;}
.grid .block.seven			{max-width:none; width: 50%;}
.grid .block.eight			{max-width:none; width: 50%;}
.grid .block.nine			{max-width:none; width:100%;}
.grid .block.ten			{max-width:none; width:100%;}
.grid .block.eleven			{max-width:none; width:100%;}
.grid .block.twelve			{max-width:none; width:100%;}
.grid .block.thirteen		{max-width:none; width:100%;}
.grid .block.fourteen		{max-width:none; width:100%;}
.grid .block.fifteen		{max-width:none; width:100%;}
.grid .block.sixteen		{max-width:none; width:100%;}

}
@media only screen and (max-width: 480px) {
.grid .block				{padding:2px;}

/* --	Blocks - Widths		--------------------- */
.grid .block.one			{width:100%;}
.grid .block.two			{width:100%;}
.grid .block.three			{width:100%;}
.grid .block.four			{width:100%;}
.grid .block.five			{width:100%;}
.grid .block.six			{width:100%;}
.grid .block.seven			{width:100%;}
.grid .block.eight			{width:100%;}
}

/*
 :::  Clearfix
-------------------------------------------------- */
.cf:after {content:""; display:table; clear: both;}
