/*
 :::  Grid
-------------------------------------------------- */


/* --	Grid - Standard		--------------------- */
[am-Grid]										{width:100%; min-width:768px; max-width:1360px; margin:0 auto; overflow:hidden; clear:both; font-size:0em;}
[am-Row]										{display:block; width:100%; margin:0 auto; clear:both;}
[am-Col]										{display:inline-block; margin:0 auto; padding:10px 25px; float:left; font-size:14px;}

/* --	Grid - Centered		--------------------- */
[am-Row~="centered"]							{text-align:center;}
[am-Row~="centered"] [am-Col]					{float:none; text-align:left;}

/* --	Grid - Full Width	--------------------- */
[am-Grid~="full"]								{max-width:none;}
[am-Grid~="full"] [am-Row]						{max-width:1360px;}
[am-Grid~="full"] [am-Row~="full"]				{max-width:none; text-align:center; font-size:0;}
[am-Grid~="full"] [am-Row~="full"] [am-Col]		{float:none; text-align:left; max-width:1360px; margin:0 auto;}

/* --	Grid - Nested		--------------------- */
[am-Grid] [am-Col] [am-Grid]					{min-width:none; max-width:none;}
[am-Grid] [am-Col] [am-Grid] [am-Row]			{}
[am-Grid] [am-Col] [am-Grid] [am-Col]:first-child,
[am-Grid] [am-Col] [am-Col]:first-child			{padding-left:0;}
[am-Grid] [am-Col] [am-Grid] [am-Col]:last-child,
[am-Grid] [am-Col] [am-Col]:last-child			{padding-right:0;}

/* --	Grid - Table 		--------------------- */
[am-Grid~="table"] [am-Col]						{display:table;}
[am-Grid~="table"] [am-Col] .wrap				{display:table-cell;}
[am-Grid~="table"] [am-Col] .wrap.top			{vertical-align:top;}
[am-Grid~="table"] [am-Col] .wrap.middle		{vertical-align:middle;}
[am-Grid~="table"] [am-Col] .wrap.bottom		{vertical-align:bottom;}

/* --	Blocks - Widths		--------------------- */
[am-Grid] [am-Col~="1"]							{max-width:  85px; width:  6.25%;}
[am-Grid] [am-Col~="2"]							{max-width: 170px; width: 12.50%;}
[am-Grid] [am-Col~="3"]							{max-width: 255px; width: 18.75%;}
[am-Grid] [am-Col~="4"]							{max-width: 340px; width: 25.00%;}
[am-Grid] [am-Col~="5"]							{max-width: 425px; width: 31.25%;}
[am-Grid] [am-Col~="6"]							{max-width: 510px; width: 37.50%;}
[am-Grid] [am-Col~="7"]							{max-width: 595px; width: 43.75%;}
[am-Grid] [am-Col~="8"]							{max-width: 680px; width: 50.00%;}
[am-Grid] [am-Col~="9"]							{max-width: 765px; width: 56.25%;}
[am-Grid] [am-Col~="10"]						{max-width: 850px; width: 62.50%;}
[am-Grid] [am-Col~="11"]						{max-width: 935ox; width: 68.75%;}
[am-Grid] [am-Col~="12"]						{max-width:1020px; width: 75.00%;}
[am-Grid] [am-Col~="13"]						{max-width:1105px; width: 81.25%;}
[am-Grid] [am-Col~="14"]						{max-width:1190px; width: 87.50%;}
[am-Grid] [am-Col~="15"]						{max-width:1275px; width: 93.75%;}
[am-Grid] [am-Col~="16"]						{max-width:1360px; width:100.00%;}

[am-Grid] [am-Col~="full"]						{max-width:1360px; width:100.00%;}
[am-Grid] [am-Col~="half"]						{max-width: 680px; width: 50.00%;}
[am-Grid] [am-Col~="third"]						{max-width: 454px; width: 33.333333%;}
[am-Grid] [am-Col~="fourth"]					{max-width: 340px; width: 25.00%;}
[am-Grid] [am-Col~="fifth"]						{max-width: 272px; width: 20.00%;}

[am-Grid] [am-Col~="auto"]						{width:auto!important;}

/* --	Blocks - Bumps		--------------------- */
[am-Grid] [am-Col~="preOne"]					{margin-left:  6.25%;}
[am-Grid] [am-Col~="preTwo"]					{margin-left: 12.50%;}
[am-Grid] [am-Col~="preThree"]					{margin-left: 18.75%;}
[am-Grid] [am-Col~="preFour"]					{margin-left: 25.00%;}
[am-Grid] [am-Col~="preFive"]					{margin-left: 31.25%;}
[am-Grid] [am-Col~="preSix"]					{margin-left: 37.50%;}
[am-Grid] [am-Col~="preSeven"]					{margin-left: 43.75%;}
[am-Grid] [am-Col~="preEight"]					{margin-left: 50.00%;}
[am-Grid] [am-Col~="preNine"]					{margin-left: 56.25%;}
[am-Grid] [am-Col~="preTen"]					{margin-left: 62.50%;}
[am-Grid] [am-Col~="preEleven"]					{margin-left: 68.75%;}
[am-Grid] [am-Col~="preTwelve"]					{margin-left: 75.00%;}
[am-Grid] [am-Col~="preThirteen"]				{margin-left: 81.25%;}
[am-Grid] [am-Col~="preFourteen"]				{margin-left: 87.50%;}
[am-Grid] [am-Col~="preFifteen"]				{margin-left: 93.75%;}

[am-Grid] [am-Col~="postOne"]					{margin-right:  6.25%;}
[am-Grid] [am-Col~="postTwo"]					{margin-right: 12.50%;}
[am-Grid] [am-Col~="postThree"]					{margin-right: 18.75%;}
[am-Grid] [am-Col~="postFour"]					{margin-right: 25.00%;}
[am-Grid] [am-Col~="postFive"]					{margin-right: 31.25%;}
[am-Grid] [am-Col~="postSix"]					{margin-right: 37.50%;}
[am-Grid] [am-Col~="postSeven"]					{margin-right: 43.75%;}
[am-Grid] [am-Col~="postEight"]					{margin-right: 50.00%;}
[am-Grid] [am-Col~="postNine"]					{margin-right: 56.25%;}
[am-Grid] [am-Col~="postTen"]					{margin-right: 62.50%;}
[am-Grid] [am-Col~="postEleven"]				{margin-right: 68.75%;}
[am-Grid] [am-Col~="postTwelve"]				{margin-right: 75.00%;}
[am-Grid] [am-Col~="postThirteen"]				{margin-right: 81.25%;}
[am-Grid] [am-Col~="postFourteen"]				{margin-right: 87.50%;}
[am-Grid] [am-Col~="postFifteen"]				{margin-right: 93.75%;}

@media only screen and (max-width: 768px) {
[am-Grid]										{min-width:300px; max-width:768px;}
[am-Grid] [am-Col]								{padding:5px 20px;}
[am-Grid] [am-Col] [am-Grid] [am-Col]:first-child,
[am-Grid] [am-Col] [am-Col]:first-child			{padding-left:0;}
[am-Grid] [am-Col] [am-Grid] [am-Col]:last-child,
[am-Grid] [am-Col] [am-Col]:last-child			{padding-right:0;}

/* --	Blocks - Widths		--------------------- */
[am-Grid] [am-Col~="1"]							{max-width:none; width: 50%;}
[am-Grid] [am-Col~="2"]							{max-width:none; width: 50%;}
[am-Grid] [am-Col~="3"]							{max-width:none; width: 50%;}
[am-Grid] [am-Col~="4"]							{max-width:none; width: 50%;}
[am-Grid] [am-Col~="5"]							{max-width:none; width: 50%;}
[am-Grid] [am-Col~="6"]							{max-width:none; width: 50%;}
[am-Grid] [am-Col~="7"]							{max-width:none; width: 50%;}
[am-Grid] [am-Col~="8"]							{max-width:none; width: 50%;}
[am-Grid] [am-Col~="9"]							{max-width:none; width:100%;}
[am-Grid] [am-Col~="10"]						{max-width:none; width:100%;}
[am-Grid] [am-Col~="11"]						{max-width:none; width:100%;}
[am-Grid] [am-Col~="12"]						{max-width:none; width:100%;}
[am-Grid] [am-Col~="13"]						{max-width:none; width:100%;}
[am-Grid] [am-Col~="14"]						{max-width:none; width:100%;}
[am-Grid] [am-Col~="15"]						{max-width:none; width:100%;}
[am-Grid] [am-Col~="16"]						{max-width:none; width:100%;}

/* --	Blocks - Bumps		--------------------- */
[am-Grid] [am-Col~="preOne"],[am-Grid] [am-Col~="preTwo"],[am-Grid] [am-Col~="preThree"],[am-Grid] [am-Col~="preFour"],[am-Grid] [am-Col~="preFive"],[am-Grid] [am-Col~="preSix"],[am-Grid] [am-Col~="preSeven"],[am-Grid] [am-Col~="preEight"],
[am-Grid] [am-Col~="preNine"],[am-Grid] [am-Col~="preTen"],[am-Grid] [am-Col~="preEleven"],[am-Grid] [am-Col~="preTwelve"],[am-Grid] [am-Col~="preThirteen"],[am-Grid] [am-Col~="preFourteen"],[am-Grid] [am-Col~="preFifteen"],
[am-Grid] [am-Col~="postOne"],[am-Grid] [am-Col~="postTwo"],[am-Grid] [am-Col~="postThree"],[am-Grid] [am-Col~="postFour"],[am-Grid] [am-Col~="postFive"],[am-Grid] [am-Col~="postSix"],[am-Grid] [am-Col~="postSeven"],[am-Grid] [am-Col~="postEight"],
[am-Grid] [am-Col~="postNine"],[am-Grid] [am-Col~="postTen"],[am-Grid] [am-Col~="postEleven"],[am-Grid] [am-Col~="postTwelve"],[am-Grid] [am-Col~="postThirteen"],[am-Grid] [am-Col~="postFourteen"],[am-Grid] [am-Col~="postFifteen"] {
	margin:0 auto;
}
}
@media only screen and (max-width: 480px) {
[am-Grid] [am-Col]								{padding:2px;}

/* --	Blocks - Widths		--------------------- */
[am-Grid] [am-Col~="1"]							{width:100%;}
[am-Grid] [am-Col~="2"]							{width:100%;}
[am-Grid] [am-Col~="3"]							{width:100%;}
[am-Grid] [am-Col~="4"]							{width:100%;}
[am-Grid] [am-Col~="5"]							{width:100%;}
[am-Grid] [am-Col~="6"]							{width:100%;}
[am-Grid] [am-Col~="7"]							{width:100%;}
[am-Grid] [am-Col~="8"]							{width:100%;}
}

/* --	Grid - Table 		--------------------- */
[am-Grid~="table"] [am-Col]						{display:inline-block;}
[am-Grid~="table"] [am-Col] .wrap				{display:block; height:auto!important;}

/*
 :::  Clearfix
-------------------------------------------------- */
.cf:after {content:""; display:table; clear: both;}
