/*
 :::  Home
-------------------------------------------------- */

.hero			{position:fixed; top:0; left:0; right:0; bottom:0; z-index:-1; background-size:cover;}
.hero .image	{display:none;}

footer			{position:fixed; bottom:0; left:0; right:0; text-align:center; background:rgba(0,0,0,0.9); padding:10px;}