/*****	Home
*******************************************/

h3									{margin-bottom:10px;}
h4									{}
p									{margin-bottom:20px;}

.hero								{}
.description						{padding:40px 0;}
.missions							{}